
html, body, #root {
  height: 100%;
  margin: 0;
}
  
 
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;

  }
  
  .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
  }

    /* Styling Header elements */
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--bg-color);
    border-bottom: 1px solid #ccc;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; 
    height: auto;
    margin-right: 10px;
  }

  .header-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  
  .nav-link {
    text-decoration: none;
    color: inherit; 
    margin: 0 10px; 
  }
  
  .nav-link:hover {
    text-decoration: underline; 
  } 

  .header-right {
    display: flex;
    align-items: center;
  }
  
  .user-info {
    margin-right: 10px;
  }
  
  
  button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
 /* Styling form elements */
form {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="text"], input[type="submit"] {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input[type="submit"] {
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

/* Styling task list container */
.task-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* Styling individual task lists */
.task-list {
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.task-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item.completed {
  text-decoration: line-through;
  color: #999;
}

/* Centering the form  */
.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centered-form input[type="text"] {
  width: 240px;
  padding: 15px;
  font-size: 18px;
}

.centered-form button {
  padding: 15px 30px;
  font-size: 18px;
}