body.light {
  --bg-color: #fff;
  --text-color: #000;
}

body.dark {
  --bg-color: #000;
  --text-color: #fff;
}

.App {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  background-color: var(--text-color);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}